@media (max-width: 900px) {
  :root {
    font-size: 57.5%;
  }

  .nav {
    flex-direction: column;
    gap: 3rem;
    height: 16rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
  }

  .img-container {
    padding: 10rem;
  }

  .planet-info {
    flex-direction: row;
    align-items: center;
  }

  .box-value {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
  }

  .nav {
    flex-direction: row;
  }

  .nav-list {
    position: absolute;
    top: 16rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9000;
    background-color: var(--bg-color);
    transition: all 0.25s;
  }

  .visible {
    /* display: none; */
    left: 0;
  }

  .nav-list li {
    margin: 0 auto;
    width: 90%;
    padding: 3rem;
    text-align: center;
    border-bottom: 1px solid var(--line-color);
    font-size: 2.5rem;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .hero {
    position: relative;
  }

  .hb-icon {
    display: block;
  }

  .img-container {
    padding: 12.5rem 10rem;
  }

  .tabs {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    border-bottom: 1px solid var(--line-color);
  }

  .tab {
    width: 100%;
    height: 4.8rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    letter-spacing: 0.26rem;
    text-transform: uppercase;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .tab-num {
    display: none;
  }

  .planet-text {
    align-items: center;
  }

  .box-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
